* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    list-style: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background-image: url('../images/birthday.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.happy {
    background-color: #fff;
    padding: 30px;
    border-radius: 30px 30px;
    margin-bottom: 180px;

    &__title {
        &__text {
            padding-top: 14px;
            padding-bottom: 14px;
            font-size: 12px;
            display: flex;
            justify-content: center;
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
        &__item {
            width: 38px; 
            height: 38px; 
            background-image: url('../images/presente.png');
            background-size: cover;
            background-position: center;
            transition: background-image 0.3s ease;

            &:hover {
                background-image: url('../images/presenteAberto.png');
            }
        }
    }
}
